*{
margin: 0;
padding: 0;
}
nav{
background-color: gray;
padding: 1rem;
}
nav ul{
list-style-type:none ;
margin: 0;
padding: 0;
display: flex;
justify-content: space-around;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}
nav ul li a:hover{
    background-color: blue;
    border-radius: 5px;
    
}